{% load static %}
<html>
    <head>
        <title>
            {% block title %}
                base html
            {% endblock %}
        </title>
        <script src="{% static 'jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'js/pages.js' %}"></script>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}"> -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/pages.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'recipes/bootstrap-4.1.0-dist/css/bootstrap.min.css' %}">
        {% block styles %}

        {% endblock %}
    </head>
    <body>
        {% block body %}
            Body here.
        {% endblock %}
        <script src="{% static 'recipes/bootstrap-4.1.0-dist/js/bootstrap.min.js'%}"></script>
        {% block scripts %}

        {% endblock %}
    </body>
</html>