{% extends 'base-2.html' %}

{% block title %}
    Ricetta | Create Recipe
{% endblock %}

{% block body %}
    <div class="nav-padding">
        <form action="" enctype="multipart/form-data" method="POST">
            <div class="container-fluid">
                {% csrf_token %}
                <div class="row" style="height: 100%">
                    <div class="col-sm-5">
                        <div class="form-group">
                            <input type="text" class="ricetta-textbox-signup-login" name="{{ recipe_form.name.id_for_label }}">
                        </div>
                        <!-- {{ recipe_form.name }} <br /> -->
                        {{ recipe_form.description }} <br />
                        {{ recipe_form.category }} <br />
                        {{ recipe_form.servings }} <br />
                        {{ recipe_form.prep_time }} <br />
                        {{ recipe_form.cook_time }} <br />
                        {{ recipe_form.read_time }} <br />
                    </div>

                    <div class="col-sm-7">
                        {{ recipe_form.picture }}
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="header-normal">
                    <h2 class="header2-font">INGREDIENTS</h2>
                </div>
                <div id="ing_formset">
                    {{ ingredient_formset.management_form }}
                    {{ ingredient_formset.as_p }}
                </div>
                <input type="button" value="Add More" id="add_more_ing">
                <div id="empty_form" style="display:none">
                    {{ ingredient_formset.empty_form.as_p }}
                </div>
            </div>

            <div class="container-fluid">
                <div class="header-normal">
                    <h2 class="header2-font">DIRECTIONS</h2>
                </div>
                <div id="stp_formset">
                    {{ step_formset.management_form }}
                    {{ step_formset.as_p }}
                </div>
                <input type="button" value="Add More" id="add_more_stp">
                <div id="empty_form" style="display:none">
                    {{ step_formset.empty_form.as_p }}
                </div>
            </div>

            <input type="submit" value="Create" class="button">
        </form>
    </div>
{% endblock %}