{% extends 'base.html' %}

{% block title %}
    Index.
{% endblock %}

{% block body %}
<!-- Uncomment if satisfied -->
    <div class="index-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-5 white-bg">

                    <div class="container" style="display: flex; flex-flow: column;">
                        <div class="row index-padding">
                            <div class="col">
                                <p class="font-brilliantte ricetta-header">Ricetta</p>
                            </div>
                        </div>
                        <div class="row index-padding" style="flex-grow: 1;">
                            <div class="col">
                                <p>
                                    <!-- <h1>Welcome to Ricetta!</h1> -->
                                </p>
                            </div>
                        </div>
                    </div>
    
                </div>
                <div class="col-md-auto">
                    <!-- Add Login button -->
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <!-- <footer class="footer">
        <div class="container">
            <p class="text-muted">Place sticky footer content here.</p>
        </div>
    </footer> -->
{% endblock %}