
{% extends 'base.html' %}

{% block title %}
    Index.
{% endblock %}

{% block body %}
<!-- Uncomment if satisfied -->
    <div class="index-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-5 white-bg">

                    <div class="container" style="display: flex; flex-flow: column;">
                        <div class="row index-padding">
                            <div class="col">
                                <p class="font-stackyard ricetta-header">Ricetta</p>
                            </div>
                        </div>
                        <div class="row index-padding" style="flex-grow: 1;">
                            <div class="col">
                                <h1 class="font-roboto-bold header1-font">Welcome to Ricetta!</h1>
                                <p class="font-slabo paragraph-font index-paragraph-spacing">
                                   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
                                </p>
                                <form method="get" action="/register">
                                    <button class="ricetta-button ricetta-button-index-signup" type="submit">Sign up for free</button>
                                </form>
                            </div>
                        </div>
                    </div>
    
                </div>
                <div class="col-5">
                    
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <!-- <footer class="footer">
        <div class="container">
            <p class="text-muted">Place sticky footer content here.</p>
        </div>
    </footer> -->
{% endblock %}