{% extends 'base.html' %}

{% block title %}
    Registration
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col m3">
            <form action="{% url 'recipes:register' %}" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {% for field in user_form %} 
                    {{ field.label }} <br />
                    {{ field }} <br />
                {% endfor %}
                <input class="btn" type="submit" value="Register" />
            </form>
        </div>
    </div>
{% endblock %}